// MAIN COLORS
$color-primary: #f08c00;
$color-primary-dark: #e67700;
$color-primary-dark-1: #d87e00;
$color-primary-dark-2: #c07000;
$color-primary-dark-3: #a86200;
$color-primary-dark-4: #482a00;
$color-primary-light: #f59f00;
$color-primary-light-1: #fce8cc;
$color-primary-light-2: #fbddb3;
$color-primary-light-3: #f9d199;
$color-secondary: #47da62;
// SECONDARY COLORS
$color-warining: #f03e3e;
$color-granted: #40c057;
// TYPOGRAPHY COLORS
$color-grey-light-1: #e9ecef;
$color-grey-light-2: #dee2e6;
$color-grey-light-3: #ced4da;
$color-grey-light-4: #adb5bd;
$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;
$color-grey-dark: #212529;
$color-black: #000;
$color-white: #fff;
// FONT FAMILIES
$main-font-familiy: "Poppins", Arial, sans-serif;
// SHADOWS
$shadow: 0 2rem 4rem rgba(#000, 0.1);
// FONT-SIZES
$primary-font-size: 1.8rem;
$secondary-font-size: 2rem;

// FONT WEIGHT
$main-font-weight: 400;
$second-font-weight: 500;
$third-font-weight: 600;


// MEDIA
$bp-big-desktop: 112.5em;
$small-laptops: 84em;
$landscape-tablets: 75em;
$tablets: 59em;
$small-tablets: 44em;
$phones: 35em;
// BORDER RADIUS
$primary-border-radius: 1rem;
