.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    color: $color-white;

    border-radius: $primary-border-radius;
    // font-size: $primary-font-size;
    font-size: 2rem;
    font-weight: $second-font-weight;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
  }
  &:hover {
    transform: translateY(-0.5rem);
  }
  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.1);
  }
  &--primary {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    // border: 2px solid transparent;

    &:hover {
      // border: 2px solid transparent;
    }
    // border: 2px solid  $color-primary;
  }
  &--secondary {
    border: 2px solid $color-primary !important;
    color: $color-primary !important;
    background-color: transparent;
    &:hover {
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );
      color: $color-grey-dark-3 !important;
      border: 2px solid transparent;

      // border: none;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark-3;
  }
  &--text {
    color: $color-primary;
    background-color: transparent;
    border-bottom: 3px solid $color-primary;
    border-radius: 0;
  }
  &--warning {
    background-color: $color-warining;
  }
}
