.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: $small-tablets) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $phones) {
    grid-template-columns: 1fr;
  }
  &__card {
    position: relative;
    overflow: hidden;
  }
  &__img {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    // filter: brightness(80%);
  }
  &__category {
    padding: 0.6rem 0.9rem;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 11;
    transition: all 0.4s;
    font-weight: 600;
    border-radius: 20rem;
    color: $color-grey-light-1;
    opacity: 0;
    &--vegan {
    }
    &--paleo {
      background-color: $color-primary-dark;
    }
  }
  &__name {
    font-size: 3rem;
    color: $color-grey-light-1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transition: all 0.4s;
    opacity: 0;
  }
  &__card:hover > &__img {
    -webkit-filter: brightness(40%) blur(1rem);
    filter: brightness(40%) blur(1rem);
    transform: scale(1.3);
    transition: all 0.3s;
  }

  &__card:hover &__category {
    top: 20%;
    left: 30%;
    z-index: 11;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &__card:hover &__name {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
