.steps {
  overflow-x: hidden;
  & > *:active {
    box-shadow: 0 0 0 0 transparent;
  }
  &__content {
    display: none;
    &--active {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      @media (max-width: $small-tablets) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomOutFade 800ms;

    &::before,
    &::after {
      content: "";
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    &::before {
      background-color: $color-primary-light-1;
      width: 70%;
      padding-bottom: 70%;
      z-index: -2;
    }
    &::after {
      width: 55%;
      padding-bottom: 55%;
      background-color: $color-primary-light-3;
      z-index: -1;
    }
  }

  &__img {
    width: 45%;
    @media (max-width: $small-tablets) {
      margin-bottom: 2.2rem;
    }
  }
  &__text {
    animation: moveFromRight 800ms;
  }
  &__heading {
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
    @media (max-width: $small-tablets) {
      margin-bottom: 1.2rem;
    }
  }
  &__desc {
    font-size: $primary-font-size;
    line-height: 1.6;
  }
  &__btns {
    display: flex;
    gap: 6.4rem;
    margin-bottom: 4rem;

    border-bottom: 1px solid $color-grey-light-2;
    @media (max-width: $phones) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1.6rem;
      column-gap: 1.2rem;
      margin-bottom: 3.2rem;
    }
  }
  &__btn {
    font-size: $secondary-font-size;
    background-color: $color-primary-dark;
    box-shadow: $shadow;
    font-weight: 400;
    border: none;
    color: $color-grey-dark-3;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 2rem;
    padding: 1.8rem 3.2rem;
    border-radius: $primary-border-radius;
    @media (max-width: $phones) {
      font-size: 1.8rem;
    }
    &--active {
      border-radius: none;
      color: $color-white;
      font-weight: 500;
      transition: all 0.2s ease;
      transform: translateY(-1rem);
      background-color: $color-primary-light;
    }
    &:hover {
      color: $color-white;
    }
  }
  &__number {
    font-weight: 700;
    color: $color-grey-light-2;
    @media (max-width: $phones) {
      display: block;
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
  }
}
