@keyframes scaleBottomUpFade {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleBottomDownFade {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomInFade {
  from {
    opacity: 0;
    transform: scale(1.4);
  }
  to {
    opacity: 1;

    transform: scale(1);
  }
}
@keyframes zoomOutFade {
  from {
    // opacity: 0;
    border-radius: 50%;
    transform: scale(0.4);
  }
  to {
    // opacity: 1;
    border-radius: 0;

    transform: scale(1);
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-8rem) translateY(-8rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveFromLeftFadeImage {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes moveFromTopFade {
  from {
    opacity: 0;
    transform: translateY(-8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes backgroundFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(80rem) translateY(-80rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleInFade {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bouns {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}
